@import "tailwindcss";

/* Habilitar modo clase para dark: en Tailwind v4 */
@variant dark (&:where(.dark, .dark *));


/* Definición del tema de Tailwind v4 */
@theme {
  --color-brand-blue: var(--brand-blue);
  --color-brand-gold: var(--brand-gold);
  --color-brand-bg: var(--brand-bg);
  --color-brand-text: var(--brand-text);
  --color-brand-muted: var(--brand-muted);
}

/* --- VARIABLES MODO CLARO --- */
:root {
  --brand-blue: #024384e1;   /* Azul marino de lujo */
  --brand-gold: #826229;   /* Dorado/Bronce de acento */
  --brand-bg: #F8F9FA;     /* Fondo crema */
  --brand-text: #0A1128;   /* Texto oscuro */
  --brand-muted: #5A6B82;  /* Texto gris azulado secundario */
}

/* --- VARIABLES MODO OSCURO (Solo se activan con la clase .dark) --- */
.dark {
  --brand-blue: #1E2530;   /* Azul más claro para contraste en negro */
  --brand-gold: #C69B56;   /* Dorado más brillante para resaltar */
  --brand-bg: #0B0F19;     /* Fondo negro azulado premium */
  --brand-text: #F8FAFC;   /* Texto blanco grisáceo */
  --brand-muted: #94A3B8;  /* Texto gris intermedio */
}

body {
  background-color: var(--brand-bg);
  color: var(--brand-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  75% { transform: translateX(4px); }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 0s 2;
}

/* --- ESTILOS DE SCROLLBAR GLOBAL --- */
/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--brand-gold) transparent;
}

/* Para Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brand-gold);
  border-radius: 9999px;
  border: 2.5px solid var(--brand-bg);
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5d461d;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #e5b467;
}
